@model Capstone.Models.Trip

@{
    ViewData["Title"] = "Delete";
}

    <div class="card-container">
        <div class="card delete-card">
            <div class="card-body">
                <p class="delete-card-title">Wait!</p>
                <p class="delete-card-text">Are you sure you want to delete @Html.DisplayFor(model => model.Name) from your trip list?</p>
                <div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="TripId" />
                        <input type="submit" value="Delete" class="btn btn-outline-info" />
                        <a asp-action="Index" class="btn btn-outline-info">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>