@model Capstone.Models.Trip

@{
    ViewData["Title"] = "Edit";
}



    <div class="card-container">
        <div class="card delete-card">
            <div class="card-body">
                <p class="delete-card-title">Edit Trip Name</p>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TripId" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-outline-info" />
                            <a href='javascript:history.go(-1)' class="btn btn-outline-info" >Cancel</a>
                        </div>
                    </form>
            </div>
        </div>
    </div>
                

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
