@model Capstone.Models.Visit

@{
    ViewData["Title"] = "Delete";
}

    <div class="card-container">
        <div class="card delete-card">
            <div class="card-body">
                <p class="delete-card-title">Wait!</p>
                <p class="delete-card-text">Are you sure you want to delete this visit  to @Html.DisplayFor(model => model.Zoo.Name) from your history?</p>
                <div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="VisitId" />
                        <input type="submit" value="Delete" class="btn btn-outline-info" />
                        <a class="btn btn-outline-info" href='javascript:history.go(-1)'>Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
