@model Capstone.Models.Visit

@{
    ViewData["Title"] = "Edit";
}


    <div class="card-container">
        <div class="card delete-card">
            <div class="card-body">
                <p class="delete-card-title">Edit Visit</p>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="VisitId" />
                    <input type="hidden" asp-for="ZooId" />
                    <input type="hidden" asp-for="UserId" />
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comments" class="control-label"></label>
                        <textarea rows="4" cols="50" asp-for="Comments" class="form-control"></textarea>
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-info" />
                        <a class="btn btn-outline-info" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
